body {
  display: block;
  margin: 0;
  background-color: rgb(193, 223, 233);
  

}


#content {
  background-color: lightblue;
  margin-right: 150px;
  margin-left: 90px;
  padding: 3% 5% 5% 10%;
}

.topbar {
  background-color:  rgb(34, 144, 181);
  color: white;
}
.topbar img{
  width: 3.2%;
}

.topbar-inner {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
}

.login-form {
  display: flex;
}

.submit-button {
  margin-left: 10px;
  align-self: flex-end;
}

.input-container + .input-container {
  margin-left: 10px;
}

.input-container label {
  display: block;
}

#title {
  text-align: center;
  font-size: 3vw; /* make our h1 tag larger */
  font-family: Arial, Helvetica, sans-serif; /* choosing our font */
  background: linear-gradient(
      to right,
      orange,
      white,
      rgba(255, 255, 255, 0) 61%
    ),
    green;

  background-clip: text; /*it defines how far the background should extend within an element, here we set it to text */
  -webkit-background-clip: text; /*for browsers compatibility */
  -webkit-text-fill-color: transparent; /* specifies the fill color of text characters. We use transparent to use the background as our text fill  */
  animation: wave 2000ms ease alternate infinite;
  transition: all 0.4s ease;
}
@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50vw 10px;
  }
}

p {
  font-family: arial;
  font-size: 20px;
}

.hidden {
  display: none;
}

.board {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid black;
}

.board th {
  padding: 0.5em;
}
  
.board td {
  border: 1px solid;
  width: 4em;
  height: 4em;
  padding: 0;
}

.err-message {
  color: red;
}

.form {
  border: 1px solid black;
  padding: 1.5%;
}

.sel-button {
  color: blue;
  border: 1px solid blue;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.fizz {
  background-color: #E28E51;
}

.buzz {
  background-color: #E7E0DB;
}

.fizz.hovered:not(.filled, .invalid) {
  background-color: #bd7644;
}

.buzz.hovered:not(.filled, .invalid) {
  background-color: #c2bcb8;
}

.fizz.invalid, .buzz.invalid {
  background-color: #bd5644;
}

.fizz.invalid-other, .buzz.invalid-other {
  background-color: #b38d87;
}

.fizz.invalid-other.hovered, .buzz.buzz.invalid-other.hovered {
  background-color: #997c77;
}

/* TODO: make this work without using important */
.invalid-flash {
  background-color: red !important;
}

.board img {
  width: 80%;
  margin: 5%;
}
