body {
  display: block;
  margin: 0;
  background-color: #ce8e60;
  margin-right: 150px;
  margin-left: 90px;
  padding: 1.5% 5% 5% 10%;
}

p {
  text-align: justify;
  font-family: arial;
  font-size: 20px;
}

#title {
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; /* choosing our font */
  background: linear-gradient(
      to right,
      rgb(196, 196, 175),
      rgba(255, 255, 255, 0) 61%
    ),
    rgb(1, 104, 1);

  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  animation: wave 2000ms ease alternate infinite;
  transition: all 0.4s ease;
}
@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50vw 10px;
  }
}


.titulo {
  margin-top: 50px;
}

/*  separar os topicos*/
.linha {
  height: 10px;
  border-bottom: 2px solid black;
}

/* substituir brs */

.margem {
  margin: 50px; 
}

/* flexbox texto imagem */
.parent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
  justify-content: center;
}

.child {
  width: 35%;
  font-weight: 300;
  font-size: 19px ;
  font-family: Arial, Helvetica, sans-serif;
} 

.tabuleiro {
  margin-left: 50px;
  max-width: 25%;
}

/* start button login */

a{
  margin-top: 20px;
}

.container {
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 400px; 
  margin: 0 auto; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eec3a4;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 50px;
  margin-left: 50px;
}

button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #db8b49;
  font-weight: bold;
}

.instruction-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 600px; 
  margin: 0 auto; 
  margin-top: 25px; 
}

footer{
  margin-top:20px;
}

footer p{
  font-size: small;
  text-align: center;
}