body {
  display: block;
  margin: 0;
  background-color: #eec3a4;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 50px;
  margin-left: 50px;
}

.input-container + .input-container {
  margin-left: 10px;
}

.input-container label {
  display: block;
}

.red {
  color: red;
}

.linha {
  height: 10px;
  border-bottom: 2px solid black;
}

.margem {
  margin: 50px; 
}

#title {
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; /* choosing our font */
  background: linear-gradient(
      to right,
      orange,
      white,
      rgba(255, 255, 255, 0) 61%
    ),
    green;

  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  animation: wave 2000ms ease alternate infinite;
  transition: all 0.4s ease;
}
@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50vw 10px;
  }
}

p {
  text-align: justify;
  font-family: arial;
  font-size: 20px;
}

.hidden {
  display: none;
}

.imagem {
  margin-left: 5px;
  display: flex;
  text-align: center; 
}

.item1 {
  flex: 1;
  max-width: 100%;
  margin:auto
}

.imagemtab{
  display: block;
  margin-top: -50px;
  top:50%;
  margin: auto;
  width: 7000px;
  height: 300px

}
.start-button {
  font-size: 25px;
  background-color: #db8b49;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block; 
  position: fixed;
  top: 20px;
  right: 20px; 
}

.start-button:hover {
  background-color: #d86d16;
  font-weight: bold;
}

footer{
  margin-top:20px;
}
footer p{
  font-size: small;
  text-align: center;
}

.imagemtab{
  max-width: 45%;
}

#registration-form{
  display: none; /* Adicione esta linha para ocultar o formulário inicialmente */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 25%;
}

.container{
  display: flex;
}
