.game-area {
  border: 1px solid black;
  padding: 3%;
  background-color: #cfab8e;
}

.sel-button {
  background-color: #bd6d2d;
  color: black;
  border-width: 2px;
}

.board-config p button {
  margin: 0 5px 0 5px;
  padding: 3px;
}

.game-area .board-config .submit-button {
  font-size: 18px;
  margin: 10px 0 10px 0;
  font-weight: bold;
}

.game-area .game-reset-button {
  font-size: 18px;
  margin: 20px 0 10px 0;
  font-weight: bold;
}