
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.game {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid black;
}

.game th {
  padding: 0.5em;
}

.game td {
  outline: 1px solid black;
  width: 4em;
  height: 4em;
  padding: 1px;
  position: relative;
}

.game td img {
  width: 90%;
  margin: 5%;
  filter: drop-shadow(0px 0px 3px #000000b2);
}

.game td.selected img {
  width: 70%;
  margin: 15%;
  filter: drop-shadow(0px 0px 10px #000000);
}

.fizz {
  background-color: #e28e51;
}

.buzz {
  background-color: #e7e0db;
}

.fizz.invalid, .buzz.invalid {
  background-color: #bd5644;
}

.fizz.invalid-other, .buzz.invalid-other {
  background-color: #808d9e;
}

.fizz.selected, .buzz.selected {
  background-color: #50c738;
}

.fizz.selected-playable, .buzz.selected-playable {
  background-color: #3c4cdf;
}

.board-content, .board-hoverblock, .board-selectable {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

td .board-hoverblock img {
  opacity: 0.8;
  width: 70%;
  margin: 15%;
}

.hovered-valid .board-hoverblock img {
  filter: drop-shadow(0px 0px 10px #000000);
}

.hovered-invalid .board-hoverblock img {
  filter: drop-shadow(0px 0px 10px #ff0000);
}

.hovered-valid .board-hoverblock {
  background-color: #00000007;
}

.fizz.hovered-invalid .board-hoverblock {
  background-color: #cf1c1c5b;
}

.buzz.hovered-invalid .board-hoverblock {
  background-color: #cf1c1c5b;
}

.err-message {
  color: red;
}

.invalid-flash .board-content {
  background-color: red;
}